---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-identifier-length

WarningsAsErrors: ''

HeaderFilterRegex: 'amoeba/.*'

CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.LocalVariableCase: lower_case
  readability-identifier-naming.LocalConstantCase: lower_case
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
...
