---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces and layout
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline

# Pointer & reference alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Spaces
SpaceAfterTemplateKeyword: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
SpacesBeforeTrailingComments: 2

# Indentation
AccessModifierOffset: -4
NamespaceIndentation: None

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Modern C++ formatting
FixNamespaceComments: true
ReflowComments: true
...
